.App {
  text-align: center;
  height: 70vh;
  width: 50vw;
  margin: 20vh auto;
  padding: 4rem 15rem;
  background-image: linear-gradient(to left, #d4d4d4d7, #e7e5d3);
  box-shadow: 5px 8px 5px #35353579;
}

