*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;
    @media screen and (max-width: 980px) {
        font-size: 56.25%;
    }
    @media screen and (max-width: 780px) {
        font-size: 50%;
    }

    @media screen and (max-width: 580px) {
        font-size: 37.5%;
    }

    @media screen and (max-width: 450px) {
        font-size: 31.25%;
    }
}

body {
    background-color: $bg-gray;
}

.hidden {
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #050505;
}
