.calendar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 10;
    &__button {
        width: 20%;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border: 0;
        background-color: #bae6fd;
        cursor: pointer;
    }
    .picker {
        position: absolute;
        width: 40rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -10%);
        box-shadow: 2px 3px 7px $shadow-color;
        &__year,
        &__month {
            position: relative;
            width: 100%;
            padding: 1rem;
            font-size: 3rem;
            text-align: center;
        }
        &__year {
            background-color: #7dd3fc;
        }
        &__arrow {
            position: absolute;
            top: 0;
            bottom: 0;
            font-size: 2rem;
            padding: 1rem;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            transition: all 0.3s;
        }
        &__arrow:hover {
            background-color: rgba(48, 47, 47, 0.7);
            color: $text-color;
        }
        &__arrow-left {
            left: 0;
        }
        &__arrow-right {
            right: 0;
        }
        &__month {
            padding: 1rem;
            position: relative;
            background-color: #e0f2fe;
        }
        &__days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            background-color: #38bdf8;
        }
        &__day {
            text-align: center;
            padding: 0.5rem;
            font-size: 1.5rem;
            &--weekend {
                color: rgb(250, 38, 38);
            }
        }
        &__dates {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(6, 1fr);
            align-items: center;
            background-color: #0369a1;
        }
        &__date {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 4rem;
            font-size: 2rem;
            text-align: center;
            cursor: pointer;
            & + span {
                font-size: 2rem;
                text-align: center;
            }
            &--prev,
            &--next {
                color: gray;
            }
            &--today {
                border: 1px solid #ffffff;
            }
            &--chosen {
                background-color: orangered;
                color: #f0f9ff;
            }
        }
        &__amount {
            position: absolute;
            min-width: 15px;
            min-height: 15px;
            top: 0;
            right: 3px;
            background-color: $text-color;
            color: red;
            border-radius: 50%;
            font-size: 1.2rem;
        }
    }
}
