.time-picker {
    @include flex {
        justify-content: center;
        align-items: flex-start;
    }
    position: absolute;
    top: -2rem;
    left: 0;
    max-height: 31rem;
    background-color: lighten($bg-color, 50%);
    color: darken($text-color, 90%);
    box-shadow: 2px 3px 7px $shadow-color;
    overflow-y: hidden;
    border-radius: 5px;
    transform: translateX(-40%);
    z-index: 20;
    &:focus {
        outline: none;
    }
    &__hours,
    &__minutes {
        height: 100%;
        min-width: 6rem;
        padding: 0.3rem;
    }
    &__hour,
    &__minute {
        padding: 1rem 2rem;
        font-size: 2rem;
        border-radius: 2px;
    }
    &__hour.active,
    &__minute.active {
        outline: 1px solid darken($bg-gray, 70%);
        background-color: $primary-color;
        color: $text-color;
    }
    &__hour:not(.active):hover,
    &__minute:not(.active):hover {
        background-color: lighten($primary-color, 40%);
    }
}
