.tooltip {
    position: absolute;
    padding: 0.8rem;
    font-size: 1.5rem;
    background-color: $bg-gray;
    box-shadow: 2px 4px 7px $shadow-color;
    color: $text-color;
    border-radius: 5px;
    transform: translateY(-20px);
    &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 10px;
        height: 10px;
        background-color: $bg-gray;
        transform: translateX(-50%) rotate(45deg);
    }
}
