@use "modules/base";

$primary-color: #0284c7;
$text-color: whitesmoke;

.container {
  max-width: 60%;
  margin: 5% auto;
  background-color: #f0f9ff;
  box-shadow: 2px 3px 7px rgba(31, 28, 28, 0.2);
  padding: 3rem;
  min-height: 70rem;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__logo {
      display: block;
      position: relative;
      width: 4rem;
      height: 4rem;
      background-color: $primary-color;
      border-radius: 3px;
      &::after {
        content: "";
        position: absolute;
        width: 2.5rem;
        height: 1.5rem;
        border: 6px solid $text-color;
        border-top: none;
        border-right: none;
        top: 50%;
        left: 50%;
        transform: rotate(-45deg) translate(-10%, -100%);
      }
    }
    &__title {
      color: $primary-color;
      font-size: 4rem;
      font-weight: 100;
      text-decoration: underline;
    }
  }
  .calendar {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    &__button {
      width: 20%;
      padding: 1rem 2rem;
      font-size: 1.5rem;
      border: 0;
      background-color: #bae6fd;
      cursor: pointer;
    }
    .picker {
      position: absolute;
      width: 40rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -10%);
      box-shadow: 2px 3px 7px rgba(73, 73, 73, 0.4);
      &__year,
      &__month {
        position: relative;
        width: 100%;
        padding: 1rem;
        font-size: 3rem;
        text-align: center;
      }
      &__year {
        background-color: #7dd3fc;
      }
      &__arrow {
        position: absolute;
        top: 0;
        bottom: 0;
        font-size: 2rem;
        padding: 1rem;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;
      }
      &__arrow:hover {
        background-color: rgba(48, 47, 47, 0.7);
        color: whitesmoke;
      }
      &__arrow-left {
        left: 0;
      }
      &__arrow-right {
        right: 0;
      }
      &__month {
        padding: 1rem;
        position: relative;
        background-color: #e0f2fe;
      }
      &__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        background-color: #38bdf8;
      }
      &__day {
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5rem;
        &--weekend {
          color: rgb(250, 38, 38);
        }
      }
      &__dates {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        background-color: #0369a1;
      }
      &__date {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        font-size: 2rem;
        text-align: center;
        cursor: pointer;
        span {
          font-size: 2rem;
          text-align: center;
        }
        &--prev,
        &--next {
          color: gray;
        }
        &--today {
          border: 1px solid #ffffff;
        }
        &--chosen {
          background-color: orangered;
          color: #f0f9ff;
        }
      }
      &__amount {
      }
    }
  }
  .add {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      width: 90%;
      padding: 0.5rem;
      background-color: #ffffff;
    }
    &__input {
      width: 100%;
      border: 0;
      padding: 1rem;
      font-size: 2rem;
    }
    &__label {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(icons/hourglass-half-regular.svg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    &__time {
      width: 0;
      height: 0;
      opacity: 0;
    }
    &__btn {
      background-color: $primary-color;
      font-size: 1.5rem;
      padding: 1rem;
      border: 0;
      color: $text-color;
      border-radius: 5px;
      cursor: pointer;
      &:disabled {
        background-color: rgb(85, 84, 84);
      }
    }
  }
  .line {
    margin: 2rem auto;
    width: 100%;
    height: 0.5px;
    background-color: #4e5861;
  }
  .display {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    &__filter,
    &__sort {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
    &__label,
    &__select {
      font-size: 2rem;
      color: #0c4a6e;
    }
    &__select {
      cursor: pointer;
    }
    &__asc {
      border: 0;
      color: transparent;
      cursor: pointer;
    }
  }
  .todo {
    width: 90%;
    margin: 2% auto;
    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      list-style-type: none;
    }
    &__item {
      display: grid;
      grid-template-columns: 1fr 30fr 2fr 2fr;
      align-items: center;
      width: 100%;
      gap: 5px;
    }
    &__label {
      display: block;
      position: relative;
      user-select: none;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 22px;
    }
    &__check {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
    &__checkmark {
      display: block;
      border: 1px solid $primary-color;
      border-radius: 3px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
    }
    &__checkmark::after {
      content: "";
      position: absolute;
      display: none;
      width: 1rem;
      height: 2rem;
      top: 50%;
      left: 50;
      border: 0.4rem solid $primary-color;
      background-color: transparent;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) translate(-50%, -70%);
    }
    .todo__check:checked ~ .todo__checkmark::after {
      display: block;
    }
    &__text {
      font-size: 2rem;
      padding: 0.5rem;
      width: 100%;
      max-height: 100%;
      white-space: nowrap;
      overflow: hidden;
      &--done {
        text-decoration: line-through;
      }
    }
    &__expiration {
      gap: 2px;
      display: none;
    }
    &__edit {
      grid-column: 5;
    }
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3rem;
      border: 1px solid rgb(201, 141, 29);
      border-radius: 2px;
      box-shadow: 1px 2px 6px rgba(66, 63, 63, 0.4);
      padding: 0.5rem 6rem;
    }
    &__hourglass {
      fill: rgb(201, 141, 29);
    }
    &__time-expiration {
      font-size: 1.5rem;
    }
    &__edit {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
    &__top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    &__pencil,
    &__trash,
    &__sign {
      cursor: pointer;
    }
    &__bottom {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
    &__time {
      font-size: 1.4rem;
    }
  }
}
